@font-face {
  font-family: 'gotham_roundedbold';
  src:
    url('../fonts/gotham_rounded_bold-webfont.woff2') format('woff2'),
    url('../fonts/gotham_rounded_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'calling_coderegular';
  src:
    url('../fonts/callingcode-regular-webfont.woff2') format('woff2'),
    url('../fonts/callingcode-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import 'tailwindcss';

@theme {
  --font-sans: 'gotham_roundedbold', ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'calling_coderegular', 'Courier New', monospace;

  --color-blue-winny: oklch(0.809 0.0755 231.37);
  --color-blue-winny-gray: oklch(0.5239 0.1181 257.46);
  --color-blue-winny-dark: oklch(0.3262 0.0818 268.58);
}

@layer base {
  * {
    @apply box-border select-none;
  }

  body {
    @apply bg-blue-winny text-blue-winny-dark m-0 p-0 font-sans;
    background: radial-gradient(
      circle at 50% 30%,
      oklch(from var(--color-blue-winny) l c h / 0.2) 0%,
      oklch(from var(--color-blue-winny) l c h / 0.5) 15%,
      var(--color-blue-winny) 50%,
      var(--color-blue-winny) 100%
    );
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-blue-winny-dark font-bold;
  }

  p {
    @apply text-blue-winny-gray leading-relaxed;
  }

  a {
    @apply text-blue-600 hover:text-blue-800;
  }
}

@utility rounded-w-box {
  @apply text-blue-winny-gray relative z-1 max-w-full rounded-full bg-white px-4 py-2 font-bold;

  &::before {
    @apply absolute -inset-2 -z-1 rounded-full bg-contain bg-center content-[''];
    @apply shadow-[inset_0_0_5px_2px_rgba(from_var(--color-white)_r_g_b_/_0.75)];
    /* @apply backdrop-blur-xs; */
  }
}

@layer components {
  .btn {
    @apply rounded-w-box cursor-pointer text-center;
  }

  .btn.btn-success {
    @apply before:shadow-[inset_0_0_6px_4px_rgba(from_var(--color-green-500)_r_g_b_/_1)];
  }

  .btn.btn-danger {
    @apply before:shadow-[inset_0_0_6px_4px_rgba(from_var(--color-red-500)_r_g_b_/_1)];
  }

  .btn.btn-large {
    @apply px-8 py-2 text-3xl;
  }

  .btn:hover {
    @apply shadow-blue-winny-dark/20 shadow;
  }

  .btn:active:not(:disabled) {
    @apply translate-y-1 duration-75;
  }

  .btn:disabled {
    @apply cursor-not-allowed opacity-[90%] saturate-[80%];
  }

  .btn.btn-success:disabled {
    @apply cursor-not-allowed opacity-[100%] saturate-[100%];
  }
}
